.card {
  width: 18rem;
}

.card img {
  object-fit: contain;
  max-height: 190px;
}

.price {
  font-size: 16px;
  font-weight: bold;
}

.description {
  color: #7f7f7f;
}

.hidden {
  display: none;
}

.spinner-border {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}